.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 400px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #E60023;
    border-radius: 8px;
    margin-top: 50px;
    position: relative;
}
.login .icon {
    color: #E60023;
    font-size: 50px;
    position: absolute;
    top: 20px;
}
.login h2 {
    color: #222;
}
.login form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.login input {
    width: 250px;
    padding: 12px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #555;
}
.login input:focus {
    outline: 1px solid #E60023;
}
.login button {
    width: 200px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #E60023;
    cursor: pointer;
    background-color: #E60023;
    color: white;
    margin: 0 auto;
    font-size: 16px;
}
.login .switch {
    font-size: 14px;
    color: #333;
    text-align: center;
    position: absolute;
    bottom: 40px;
    margin: 0 auto;
}
.login .switch .link {
    color:#E60023;
    font-weight: 500;
}
.error-message {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: -10px;
}
@media(max-width: 400px){
    .login {
        height: 500px;
        margin-top: 50px;
    }
    .login .icon {
        top: 50px;
    }
    .login .switch {
        bottom: 50px;
    }
}
@media(min-width: 400px) and (max-width:800px){
    .login {
        width: 400px;
        height: 500px;
        margin-top: 70px;
    }
    .login .icon {
        top: 50px;
    }
    .login form {
        gap: 20px;
    }
    .login input {
        width: 300px;
    }
    .login button {
        width: 250px;
    }
    .login .switch {
        font-size: 18px;
        bottom: 50px;
    }
}
@media(min-width:1600px){
    .login {
        width: 500px;
        height: 600px;
        margin-top: 100px;
    }
    .login .icon {
        top: 70px;
    }
    .login h2 {
        font-size: 35px;
    }
    .login form {
        gap: 30px;
    }
    .login input {
        width: 350px;
        padding: 14px 12px;
        font-size: 16px;
    }
    .login button {
        width: 300px;
        padding: 10px 14px;
        font-size: 18px;
    }
    .login .switch {
        font-size: 19px;
        bottom: 60px;
    }
}