.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 500px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid #E60023;
    border-radius: 8px;
    margin-top: 30px;
    position: relative;
}
.signup .icon {
    color: #E60023;
    font-size: 50px;
    position: absolute;
    top: 20px;
}
.signup h2 {
    color: #222;
}
.signup form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
.signup form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.signup input {
    width: 250px;
    padding: 12px;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #555;
}
.signup input:focus {
    outline: 1px solid #E60023;
}
.signup button {
    width: 200px;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #E60023;
    cursor: pointer;
    background-color: #E60023;
    color: white;
    margin: 0 auto;
    font-size: 16px;
}
.signup .agreement {
    font-size: 12px;
    color: #666;
    text-align: center;
}
.signup .switch {
    font-size: 14px;
    color: #333;
    text-align: center;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
}
.signup .switch .link {
    color:#E60023;
    font-weight: 500;
}
.error-message {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: -10px;
}
@media(max-width: 400px){
    .signup {
        height: 600px;
        margin-top: 50px;
    }
    .signup .icon {
        top: 50px;
    }
    .signup .switch {
        bottom: 40px;
    }
}
@media(min-width: 400px) and (max-width:800px){
    .signup {
        width: 400px;
        height: 600px;
        margin-top: 70px;
    }
    .signup .icon {
        top: 50px;
    }
    .signup form {
        gap: 40px;
    }
    .signup form div {
        gap: 20px;
    }
    .signup input {
        width: 300px;
    }
    .signup button {
        width: 250px;
    }
    .signup .agreement {
        font-size: 14px;
        width: 350px;
    }
    .signup .switch {
        font-size: 16px;
        bottom: 40px;
    }
}
@media(min-width:1600px){
    .signup {
        width: 500px;
        height: 700px;
        margin-top: 60px;
    }
    .signup .icon {
        top: 70px;
    }
    .signup h2 {
        font-size: 35px;
    }
    .signup form {
        gap: 50px;
    }
    .signup form div {
        gap: 18px;
    }
    .signup input {
        width: 350px;
        padding: 14px 12px;
        font-size: 16px;
    }
    .signup button {
        width: 300px;
        padding: 10px 14px;
        font-size: 18px;
    }
    .signup .agreement {
        font-size: 14px;
        width: 400px;
    }
    .signup .switch {
        font-size: 19px;
        bottom: 50px;
    }
    .error-message {
        font-size: 16px;
    }
}