.create {
    position: fixed;
    top: 20%;
    left: 8%;
    background-color: white;
    width: 390px;
    height: auto;
    padding: 23px 10px 10px;
    z-index: 11;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
.create h2 {
    font-size: 19px;
    font-weight: 600;
    margin: 0 10px 10px;
}
.create .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 10px;
}
.create .item .icon {
    background-color: #e5e5e0;
    padding: 15px;
    border-radius: 12px;
    width: 80px;
    height: 60px;
    color: #1b1b1a;
}
.create .item h4 {
    font-size: 16px;
    font-weight: 400;
}
.create .item p {
    font-size: 14px;
    color: #555;
    padding-right: 30px;
    line-height: 1.4;
}
.create .item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}