.creation-tool {
    width: calc(100% - 72px);
    margin-top: 80px;
    margin-left: 72px;
    display: flex;
    flex-direction: column;
}
.creation-tool h3 {
    border-top: 1px solid rgb(232, 232, 232);
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 20px 10px;
    font-size: 20px;
}
.creation-tool form {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.creation-tool .file-btn {
  display: inline-block;
  text-align: center;
  padding: 10px 16px;
  background-color: rgb(243, 242, 242);
  color: black;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 500;
  width: 400px;
  height: 400px;
  border: 1px dashed rgb(189, 189, 189);
  margin: 0 auto;
}
.creation-tool .file-btn .icon {
    display: block;
    margin: 20px auto;
    margin-top: 40%;
    font-size: 24px;
}
.creation-tool form input {
    background-color: rgb(243, 242, 242);
    border: 1px solid rgb(189, 189, 189);
    width: 400px;
    border-radius: 10px;
    padding: 13px 17px;
    margin: 0 auto;
}
.creation-tool form input:focus {
    border: 1px solid #b8001c;
}
.creation-tool form button {
    margin: 0 auto;
    width: 100px;
    padding: 13px 17px;
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
    background-color: #e60023;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-bottom: 100px;
    transition: all ease 300ms;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.creation-tool form button:hover {
    background-color:  #b8001c;
}
@media(max-width:400px){
    .creation-tool {
        width: 100%;
        margin-left: 0;
        margin-top: 60px;
    }
    .creation-tool .file-btn {
        width: 300px;
        height: 300px;
    }
    .creation-tool form input {
        width: 300px;
    }
}
@media(min-width:1600px){
    .creation-tool h3 {
        font-size: 24px;
        padding: 30px 15px;
    }
    .creation-tool form {
        margin: 50px auto;
        gap: 50px;
    }
    .creation-tool .file-btn {
        width: 500px;
        height: 500px;
        font-size: 24px;
    }
    .creation-tool .file-btn .icon {
        font-size: 30px;
    }
    .creation-tool form input {
        width: 500px;
        padding: 16px 20px;
        font-size: 20px;
    }
    .creation-tool form button {
        width: 130px;
        padding: 15px 19px;
        font-size: 20px;
        margin-bottom: 140px;
    }
}