.main {
    width: 100%;
    margin-top: 70px;
    padding: 10px;
}
.main .pins {
    column-count: 2;
    gap: 10px;
}
.main .pin {
    break-inside: avoid;
    display: flex;
    flex-direction: column;
}
.main .img-wrapper {
    position: relative;
    display: inline-block;
}
.main .img-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    position: relative;
}
.main .pin-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.main .pin-info p {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.main .pin-info .icon {
    font-size: 22px;
    padding: 3px 0px;
    border-radius: 5px;
    transition: transform 0.1s ease;
}
.main .pin-info .icon:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}
.main .pin-info .icon:active {
    transform: scale(0.82);
}
.main img:hover {
    cursor: pointer;
    filter: brightness(80%);
}
.main .save {
    padding: 13px 17px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    background-color: #e60023;
    color: #ffffff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    display: none;
}
.main .save:hover {
    background-color:  #b8001c;
}
.main .download {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    font-size: 32px;
    z-index: 2;
    display: none;
}
.main .download:hover {
    background-color: #f0f0f0;
}
.main .pin:hover .download {
    display: block;
}
.main .pin:hover .save {
    display: block;
}
.main .pin:has(.download:hover) img {
    filter: brightness(80%);
}
.main .pin:has(.save:hover) img {
    filter: brightness(80%);
}
@media(min-width:800px){
    .main {
        width: calc(100% - 7%);
        margin-top: 80px;
        margin-left: 7%;
        padding: 0 20px;
    }
    .main .pins {
        column-count: 4;
        gap: 20px;
    }
}