.messages {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 50px;
    background-color: white;
    padding: 10px;
    z-index: 1001;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 5px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    max-height: calc(100vh - 50px);
}
.messages .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 5px;
}
.messages .header img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    padding: 15px;
    border-radius: 10px;
}
.messages .header img:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
.messages .header .icon {
    font-size: 40px;
    padding: 1px 5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
}
.messages .header .icon:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
.messages .message {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
}
.messages .message:hover, .messages .invite:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
.messages .invite {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
}
.messages .invite div {
    display: flex;
    flex-direction: column;
}
.messages .invite div p {
    color: #555;
    font-size: 15px;
}
.messages .message img, .messages .invite img {
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.messages .more {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 40px 20px;
}
.messages .more img {
    width: 180px;
    height: 180px;
    object-fit: cover;
}
.messages .more p {
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
}
.read {
    display: none;
    position: absolute;
    top: 50px;
    right: 5px;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    outline: 10px solid white;
    background-color: white;
    font-size: 14px;
    font-weight: 600;
    z-index: 12;
    filter: drop-shadow(0 4px 8px rgba(0,0,0,0.4));
}
.read:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
.read.open {
    display: block;
}
@media(min-width:800px){
    .messages {
        width: 390px;
        height: auto;
        top: 10%;
        left: 8%;
        bottom: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}