.navbar {
    width: calc(100% - 72px);
    height: 80px;
    position: fixed;
    top: 0;
    left: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    z-index: 1000;
    background-color: white;
}
.navbar .input {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    flex: 1;
}
.input .icon {
    font-size: 18px;
    color: #777;
    position: absolute;
    left: 15px;
}
.navbar input {
    width: 100%;
    padding: 15px 40px;
    border-radius: 13px;
    background-color: #efefef;
    border: none;
    font-size: 16px;
}
.navbar input:hover {
    background-color: #e1e1e1;
}
.navbar input:focus {
    outline: none;
}
.navbar .profile {
    display: flex;
    align-items: center;
}
.navbar .profile img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    border-radius: 20px;
    transition: transform 0.1s ease;
}
.navbar .profile img:hover, .navbar .profile .icon:hover {
    background-color: #f3f3f3;
}
.navbar .profile img:active, .navbar .profile .icon:active {
    transform: scale(0.82);
}
.navbar .profile .icon {
    font-size: 28px;
    font-weight: 300;
    color: #666;
    cursor: pointer;
    margin-right: 10px;
    padding: 7px 5px;
    border-radius: 10px;
    transition: transform 0.1s ease;
}
.navbar .profile div {
    position: relative;
}
.navbar .profile div p {
    position: absolute;
    font-size: 11px;
    background-color: #111;
    color: #fff;
    padding: 8px 10px;
    border-radius: 10px;
    white-space: nowrap;
}
.navbar .profile-p {
    position: absolute;
    top: 58px;
    right: -20px;
    display: none;
}
.navbar .profile img:hover + .profile-p {
    display: block;
}
.navbar .accounts-p {
    position: absolute;
    top: 35px;
    right: 0px;
    display: none;
}
.navbar .profile .icon:hover + .accounts-p {
    display: block;
}
.navbar .input input:focus {
    outline: 4px solid #7fc1ff;
    padding-left: 15px;
}
.navbar .input input:focus + .icon {
    display: none;
}
.navbar .suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 5px;
  border-radius: 10px;
}
.navbar .suggestion-item {
  padding: 8px;
  cursor: pointer;
}
.navbar .suggestion-item:hover {
  background: #f0f0f0;
}
@media(max-width: 400px){
    .navbar {
        width: 100%;
        height: 50px;
        left: 0;
        top: 10px;
        padding-left: 0;
        position: fixed;
        top: 0;
    }
    .navbar .input {
        margin-left: 10px;
    }
    .navbar input {
        height: 40px;
    }
    .navbar .profile img {
        margin-right: 10px;
    }
    .navbar .profile .icon {
        display: none;
    }
    .navbar .input input:focus {
        outline-width: 2px;
    }
}
@media(min-width:400px) and (max-width:800px){
    .navbar {
        width: calc(100% - 60px);
        left: 60px;
    }
}