.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 1000;
    padding: 5px 10px;
    height: 70px;
    background-color: white;
}
.navbar .input {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    flex: 1;
}
.input .icon {
    font-size: 18px;
    color: #777;
    position: absolute;
    left: 15px;
}
.navbar input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 13px;
    background-color: #efefef;
    border: none;
    font-size: 18px;
}
.navbar input:hover {
    background-color: #e1e1e1;
}
.navbar .input input:focus {
    outline: 2px solid #7fc1ff;
}
.navbar .suggestions-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 5px;
  border-radius: 10px;
}
.navbar .suggestion-item {
  padding: 8px;
  cursor: pointer;
}
.navbar .suggestion-item:hover {
  background: #f0f0f0;
}
.navbar .profile {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    transition: transform 0.1s ease;
}
.navbar .profile:hover {
    background-color: #e1e1e1;
}
.navbar .profile:active {
    transform: scale(0.82);
}
@media(min-width:800px){
    .navbar {
        width: calc(100% - 7%);
        right: 0;
        height: 80px;
    }
    .navbar input {
        padding: 15px 40px;
    }
    .navbar .icon {
        font-size: 22px;
    }
}