.notifications {
    position: fixed;
    top: 80px;
    left: 85px;
    background-color: white;
    width: 400px;
    height: auto;
    padding: 20px 10px;
    z-index: 11;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 100px);
}
.notifications h2 {
    font-size: 19px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.notifications div {
    overflow-y: auto;
}
.notifications h4 {
    font-size: 19px;
    margin-bottom: 5px;
    margin-left: 10px;
}
.notifications .items {
    display: flex;
    flex-direction: column;
}
.notifications .item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.notifications .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}
.notifications .item .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    position: relative;
    padding-right: 30px;
}
.notifications .item .left p {
    font-size: 15px;
}
.notifications .item .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    overflow-x: hidden;
    width: 80px;
}
.notifications .item .right p {
    font-size: 12px;
    color: #555;
}
.notifications .item:hover {
    background-color: #edeaea;
    cursor: pointer;
}
@media(max-width:400px){
    .notifications {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 50px;
        overflow-y: auto;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        max-height: calc(100vh - 50px);
    }
}
@media(min-width:400px) and (max-width:800px){
    .notifications {
        top: 120px;
        max-height: calc(100vh - 220px);
    }
}
@media(min-width:1400px) {
    .notifications {
        top: 100px;
        max-height: calc(100vh - 300px);
    }
}