.notifications {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 50px;
    background-color: white;
    padding: 20px;
    z-index: 1001;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 10px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    max-height: calc(100vh - 50px);
}
@media(min-width:800px){
    .notifications {
        width: 390px;
        height: auto;
        top: 20%;
        left: 8%;
        bottom: auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}