.pinpagemain { 
    width: calc(100% - 72px); 
    margin-top: 80px; 
    margin-left: 72px; 
}
.pinpagemain-mobile {
    display: none;
}
.pinpagemain .arrow { 
    font-size: 65px; 
    opacity: 0.8; 
    padding: 20px; 
    border-radius: 20px; 
    margin-left: 20px; 
}
.pinpagemain .arrow:hover { 
    cursor: pointer; 
    background-color: #f3f2f2; 
}
.pinpagemain .pin-card { 
    display: flex; 
    flex-direction: column; 
    border: 1px solid #d8d7d7; 
    border-radius: 15px; 
    padding: 10px 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02); 
    margin: 0 10px;
    margin-right: 20px;
    width: 490px;
    height: 570px;
    position: absolute;
    top: 80px;
    left: 160px;
}
.pinpagemain .pin-card-header { 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    padding-bottom: 10px; 
}
.pinpagemain .pin-card-header div { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 20px; 
}
.pinpagemain .pin-card-header .like-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.pinpagemain .pin-card-header .like-wrapper .icon.liked {
    color:#b8001c;
}
.pinpagemain .pin-card-header .like-wrapper .likes-count {
    font-size: 15px;
    font-weight: 600;
}
.pinpagemain .pin-card-header .icon { 
    font-size: 45px; 
    padding: 10px; 
    border-radius: 15px; 
}
.pinpagemain .pin-card-header .icon:hover { 
    cursor: pointer; 
    background-color: #f3f2f2; 
}
.pinpagemain button.save { 
    padding: 13px 17px; 
    border-radius: 15px; 
    font-size: 16px; 
    font-weight: 600; 
    background-color: #e60023; 
    color: #ffffff; 
    border: none; 
    cursor: pointer; 
}
.pinpagemain button:hover { 
    background-color: #b8001c; 
}
.pinpagemain button.saved {
    background-color: #333;
}
.pinpagemain .pin-card img { 
    height: 420px; 
    width: auto; 
    object-fit: cover; 
    border-radius: 20px; 
    margin: 0 auto; 
    display: block; 
    max-width: 100%;
}
.pinpagemain .pin-card .caption {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}
.pinpagemain .publisher-info { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
    margin: 10px 0; 
}
.pinpagemain .publisher-info img { 
    width: 25px; 
    height: 25px; 
    object-fit: cover; 
    margin: 0; 
}
.pinpagemain .publisher-info p { 
    font-size: 14px; 
    font-weight: 500; 
}
.pinpagemain .publisher-info img:hover,
.pinpagemain .publisher-info p:hover { 
    cursor: pointer; 
}
.pinpagemain .mobile-pins {
    display: none;
}
.pinpagemain .left-pins {
    column-count: 2;
    column-gap: 5px;
    position: absolute;
    top: 670px;
    left: 170px;
}
.pinpagemain .right-pins {
    column-count: 2;
    column-gap: 5px;
    position: absolute;
    top: 80px;
    left: 675px;
}
.pinpagemain .left-pins .card, .pinpagemain .right-pins .card {
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    page-break-inside: avoid;
    position: relative;
}
.pinpagemain .pins .pin-wrapper { 
    position: relative;
    display: inline-block;
}
.pinpagemain .pins img { 
    width: 240px; 
    height: auto; 
    object-fit: cover; 
    border-radius: 20px; 
}
.pinpagemain .pins .pin-info { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    position: relative; 
    margin: 0 5px;
}
.pinpagemain .pins .pin-info p { 
    font-size: 14px; 
    font-weight: 500; 
    cursor: pointer; 
    width: 200px;
}
.pinpagemain .pins .pin-info .icon { 
    font-size: 22px; 
    padding: 3px 0px; 
    border-radius: 5px; 
    transition: transform 0.1s ease; 
}
.pinpagemain .pins .pin-info .icon:hover { 
    cursor: pointer; 
    background-color: #f1f1f1; 
}
.main .pin-info .icon:active { 
    transform: scale(0.82); 
}
.pinpagemain .pins img:hover { 
    cursor: pointer; 
    filter: brightness(80%); 
}
.pinpagemain .pins .save { 
    padding: 13px 17px; 
    border-radius: 15px; 
    font-size: 16px; 
    font-weight: 500; 
    background-color: #e60023; 
    color: #ffffff; 
    border: none; 
    cursor: pointer; 
    position: absolute; 
    top: 15px; 
    right: 15px; 
    z-index: 2; 
    display: none; 
}
.pinpagemain .pins .save:hover { 
    background-color: #b8001c; 
}
.pinpagemain .pins .download { 
    position: absolute; 
    right: 15px; 
    bottom: 15px; 
    background-color: white; 
    cursor: pointer; 
    padding: 8px; 
    border-radius: 10px; 
    font-size: 32px; 
    z-index: 2; 
    display: none; 
}
.pinpagemain .pins .download:hover { 
    background-color: #f0f0f0; 
}
.pinpagemain .pins .pin-wrapper:hover .download,
.pinpagemain .pins .pin-wrapper:hover .save { 
    display: block; 
}
.main .pic:has(.download:hover) img { 
    filter: brightness(80%); 
}
.main .pic:has(.save:hover) img { 
    filter: brightness(80%); 
}
.pinpagemain .pin-wrapper:has(.download:hover) img { 
    filter: brightness(80%); 
}
.pinpagemain .pin-wrapper:has(.save:hover) img { 
    filter: brightness(80%); 
}
.pinpagemain .actions-dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    position: absolute;
    background-color: white;
    width: 270px;
    bottom: 30px;
}
.pinpagemain .actions-dropdown div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 10px 5px;
    border-radius: 10px;
}
.pinpagemain .actions-dropdown div:hover {
    background-color: #faf8f8;
    cursor: pointer;
}
.pinpagemain .actions-dropdown div .icon {
    font-size: 20px;
    margin-bottom: 5px;
}
.pinpagemain .actions-dropdown div p {
    font-size: 16px;
    margin: 0;
}
.pinpagemain .actions-dropdown.open {
    display: block;
}
.pinpagemain .pin-card-dropdown {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    background-color: white;
    width: 220px;
    position: absolute;
    top: 60px;
    left: 120px;
}
.pinpagemain .pin-card-dropdown.open {
    display: block;
}
.pinpagemain .pin-card-dropdown p {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
}
.pinpagemain .pin-card-dropdown p:hover {
    background-color: #faf8f8;
    cursor: pointer;
}
@media(min-width:400px) and (max-width:800px){
    .pinpagemain {
        width: calc(100% - 80px);
        margin-top: 60px;
        margin-left: 60px;
        margin-right: 20px;
    }
    .pinpagemain .arrow {
        display: none;
    }
    .pinpagemain .pin-card {
        top: 90px;
        left: 60px;
        width: 520px;
        height: 780px;
        margin: 0 10px;
    }
    .pinpagemain .pin-card img {
        max-width: 480px;
        height: 600px;
    }
    .pinpagemain .publisher-info img {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    .pinpagemain .publisher-info p {
        font-size: 15px;
    }
    .pinpagemain .right-pins {
        column-count: 1;
        top: 90px;
        left: 600px;
    }
    .pinpagemain .left-pins {
        top: 900px;
        left: 80px;
        gap: 10px;
    }
    .pinpagemain .pins img {
        width: 250px;
    }
    .pinpagemain .actions-dropdown {
        width: 230px;
    }
}

@media (max-width: 400px){
    .pinpagemain {
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 50px;
    }
    .pinpagemain .arrow {
        position: absolute;
        background-color: white;
        padding: 10px;
        font-size: 50px;
        margin: 10px;
    }
    .pinpagemain .pin-card {
        display: none;
    }
    .pinpagemain .pins {
        display: none;
    }
    .pinpagemain-mobile {
        display: block;
        display: flex;
        flex-direction: column;
    }
    .pinpagemain-mobile .pin {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 5px;
    }
    .pinpagemain-mobile .pin img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
    }
    .pinpagemain-mobile .pin .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;
    }
    .pinpagemain-mobile .pin .info .icon {
        font-size: 20px;
    }
    .pinpagemain-mobile .pin .info button {
        font-size: 15px;
        padding: 10px 14px;
    }
    .pinpagemain-mobile .pin .publisher {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin-left: 10px;
    }
    .pinpagemain-mobile .pin .publisher img {
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
    .pinpagemain-mobile .pin .publisher p {
        font-size: 12px;
        font-weight: 500;
    }
    .pinpagemain-mobile .pin-dropdown {
        display: none;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        z-index: 301;
        background-color: white;
        position: absolute;
        bottom: -50px;
        width: calc(100% - 10px);
    }
    .pinpagemain-mobile .pin-dropdown.open {
        display: block;
    }
    .pinpagemain-mobile .pin-dropdown p {
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
    }
    .pinpagemain-mobile .more {
        font-size: 16px;
        font-weight: 500;
        margin: 20px 10px 10px;
    }
    .pinpagemain-mobile .pins {
        display: block;
        column-count: 2;
        column-gap: 5px;
        margin: 0 10px;
    }
    .pinpagemain-mobile .pins .card {
        break-inside: avoid;
    }
    .pinpagemain-mobile .pins .card img {
        width: 180px;
        height: auto;
        object-fit: contain;
        border-radius: 20px;
    }
    .pinpagemain-mobile .pins .card .pin-info p {
        width: 150px;
    }
    .pinpagemain-mobile .pins .card {
        position: relative;
    }
    .pinpagemain-mobile .pins .actions-dropdown {
        width: 200px;
    }
    .pinpagemain-mobile .pin .like-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    .pinpagemain-mobile .pin .like-wrapper .icon.liked {
        color:#b8001c;
    }
    .pinpagemain-mobile .pin .like-wrapper .likes-count {
        font-size: 14px;
        font-weight: 600;
    }
}
@media(min-width: 1600px){
    .pinpagemain .arrow {
        font-size: 75px;
    }
    .pinpagemain .pin-card {
        width: 670px;
        height: 800px;
        top: 100px;
        left: 190px;
    }
    .pinpagemain .pin-card-header .icon {
        font-size: 50px;
    }
    .pinpagemain button {
        padding: 15px 19px;
        font-size: 17px;
    }
    .pinpagemain .pin-card img {
        height: 600px;
    }
    .pinpagemain .pin-card .caption {
        font-size: 20px;
        margin-top: 20px;
    }
    .pinpagemain .pin-card .publisher-info img {
        width: 30px;
        height: 30px;
    }
    .pinpagemain .publisher-info p {
        font-size: 18px;
    }
    .pinpagemain .right-pins {
        left: auto;
        right: 20px;
        top: 100px;
        column-count: 3;
        gap: 20px;
    }
    .pinpagemain .left-pins {
        top: 920px;
        left: 190px;
        gap: 20px;
        margin: 0 auto;
    }
    .pinpagemain .pins img {
        width: 320px;
    }
    .pinpagemain .actions-dropdown {
        width: 300px;
        bottom: 40px;
    }
    .pinpagemain .actions-dropdown div .icon {
        font-size: 25px;
    }
    .pinpagemain .actions-dropdown div p {
        font-size: 18px;
    }
    .pinpagemain .pin-card-dropdown {
        width: 250px;
    }
    .pinpagemain .pin-card-dropdown p {
        font-size: 17px;
    }
}