.pinpagemain {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pinpagemain .arrow {
    position: absolute;
    background-color: white;
    font-size: 50px;
    padding: 10px;
    margin: 20px;
    opacity: 0.8;
    border-radius: 20px;
    align-self: normal;
}
.pinpagemain .arrow:hover { 
    cursor: pointer; 
    background-color: #f3f2f2; 
}
.pinpagemain .pin-card { 
    width: 100%;
    display: flex; 
    flex-direction: column; 
    border: 1px solid #d8d7d7; 
    border-radius: 15px; 
    padding: 10px 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02); 
    margin: 0 10px;
}
.pinpagemain .pin-card-header { 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    padding-bottom: 10px; 
}
.pinpagemain .pin-card .img { 
    width: 100%; 
    height: auto;
    object-fit: cover; 
    border-radius: 20px; 
    margin: 0 auto; 
    display: block; 
    max-width: 100%;
}
.pinpagemain .pin-card .caption {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
}
.pinpagemain .publisher-info { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
    margin: 10px 0; 
}
.pinpagemain .publisher-info img { 
    width: 30px; 
    height: 30px; 
    object-fit: cover; 
}
.pinpagemain .publisher-info p { 
    font-weight: 500; 
}
.pinpagemain .publisher-info img:hover,
.pinpagemain .publisher-info p:hover { 
    cursor: pointer; 
}
.pinpagemain .pin-card-header { 
    width: 100%; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;  
}
.pinpagemain .pin-card-header div { 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 10px; 
}
.pinpagemain .pin-card-header .icon { 
    font-size: 45px; 
    padding: 10px; 
    border-radius: 15px; 
}
.pinpagemain .pin-card-header .icon:hover { 
    cursor: pointer; 
    background-color: #f3f2f2; 
}
.pinpagemain button { 
    padding: 13px 17px; 
    border-radius: 15px; 
    font-size: 16px; 
    font-weight: 600; 
    background-color: #e60023; 
    color: #ffffff; 
    border: none; 
    cursor: pointer; 
}
.pinpagemain button:hover { 
    background-color: #b8001c; 
}
.pinpagemain .more {
    font-size: 22px;
    font-weight: 500;
    align-self: flex-start;
    margin: 10px;
}
.pinpagemain .pins {
    column-count: 2;
    column-gap: 10px;
    padding: 10px;
}
.pinpagemain .pins .pin {
    break-inside: avoid;
}
.pinpagemain .pins .pin-wrapper { 
    position: relative;
    display: inline-block;
}
.pinpagemain .pins img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.pinpagemain .pins .pin-info { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    padding: 5px 10px 10px; 
    margin: 0 5px;
}
.pinpagemain .pins .pin-info p { 
    font-size: 14px; 
    font-weight: 500; 
    cursor: pointer; 
    width: 70%;
}
.pinpagemain .pins .pin-info .icon { 
    font-size: 22px; 
    padding: 3px 0px; 
    border-radius: 5px; 
    transition: transform 0.1s ease; 
}
.pinpagemain .pins .pin-info .icon:hover { 
    cursor: pointer; 
    background-color: #f1f1f1; 
}
.pinpagemain .pin-info .icon:active { 
    transform: scale(0.82); 
}
.pinpagemain .pins img:hover { 
    cursor: pointer; 
    filter: brightness(80%); 
}
.pinpagemain .pins .save { 
    padding: 13px 17px; 
    border-radius: 15px; 
    font-size: 16px; 
    font-weight: 500; 
    background-color: #e60023; 
    color: #ffffff; 
    border: none; 
    cursor: pointer; 
    position: absolute; 
    top: 15px; 
    right: 15px; 
    z-index: 2; 
    display: none; 
}
.pinpagemain .pins .save:hover { 
    background-color: #b8001c; 
}
.pinpagemain .pins .download { 
    position: absolute; 
    right: 15px; 
    bottom: 15px; 
    background-color: white; 
    cursor: pointer; 
    padding: 8px; 
    border-radius: 10px; 
    font-size: 32px; 
    z-index: 2; 
    display: none; 
}
.pinpagemain .pins .download:hover { 
    background-color: #f0f0f0; 
}
.pinpagemain .pins .pin-wrapper:hover .download,
.pinpagemain .pins .pin-wrapper:hover .save { 
    display: block; 
}
.pinpagemain .pin-wrapper:has(.download:hover) img { 
    filter: brightness(80%); 
}
.pinpagemain .pin-wrapper:has(.save:hover) img { 
    filter: brightness(80%); 
}
@media(min-width:800px){
    .pinpagemain {
        width: calc(100% - 7%);
        margin-top: 80px;
        margin-left: 7%;
        margin-bottom: 0;
    }
    .pinpagemain .arrow {
        font-size: 60px;
        left: 12%;
    }
    .pinpagemain .pin-card {
        width: 90%;
        margin: 10px;
    }
    .pinpagemain .pin-card .img {
        width: 50%;
        max-height: 700px;
    }
    .pinpagemain .pin-card .caption {
        font-size: 22px;
        margin: 10px;
    }
    .pinpagemain .publisher-info img {
        width: 50px;
        height: 50px;
    }
    .pinpagemain .publisher-info p {
        font-size: 22px;
    }
    .pinpagemain .pin-card-header .icon {
        font-size: 55px;
    }
    .pinpagemain button {
        padding: 16px 20px;
        font-size: 20px;
    }
    .pinpagemain .pins {
        column-count: 4;
        gap: 20px;
    }
}