.profilemain {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profilemain .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.05);
    width: 100%;
}
.profilemain .info img {
    width: 130px;
    height: 130px;
    object-fit: contain;
    margin-top: 80px;
}
.profilemain .info h3 {
    font-size: 35px;
}
.profilemain .info p {
    font-size: 20px;
    font-weight: 500;
}
.profilemain .info button {
    padding: 13px 17px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    background-color: #e60023;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-bottom: 100px;
    transition: all ease 300ms;
}
.profilemain .info button:hover {
    background-color:  #b8001c;
}
.profilemain .pins.empty div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 80px 0 30px;
}
.profilemain .pins.empty div img {
    width: 180px;
    height: 180px;
    object-fit: contain;
}
.profilemain .pins.empty div p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}
.profilemain .pins.has-pins {
    column-count: 2;
    column-gap: 10px;
    margin: 50px 0;
    padding: 0 10px;
}
.profilemain .pins.has-pins .pin {
    break-inside: avoid;
    margin-bottom: 15px;
}
.profilemain .pins.has-pins .pin img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.profilemain .pins.has-pins .pin p {
    font-weight: 500;
}
.profilemain .logout {
    padding: 10px 14px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    background-color: #e60023;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all ease 300ms;
    margin: 0 auto 80px;
}
.profilemain .logout:hover {
    background-color:  #b8001c;
}
@media(min-width:800px){
    .profilemain {
        width: calc(100% - 7%);
        margin-left: 7%;
        margin-top: 80px;
    }
    .profilemain .pins.has-pins {
        column-count: 4;
        gap: 20px;
        padding: 0 20px;
    }
}