.search-page {
    width: 100%;
    margin-top: 70px;
    padding: 10px;
}
.search-page h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #ea6b7e;
}
.search-page .pins {
    column-count: 2;
    column-gap: 10px;
}
.search-page .pin {
    break-inside: avoid;
    position: relative;
}
.search-page .pin img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}
.search-page .pin .img-wrapper {
    position: relative;
    display: inline-block;
}
.search-page .pin .pin-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px;
}
.search-page .pin .pin-info p {
    font-weight: 500;
    cursor: pointer;
}
.search-page .pin .pin-info .icon {
    font-size: 22px;
    padding: 3px 0px;
    border-radius: 5px;
    transition: transform 0.1s ease;
}
.search-page .pin .pin-info .icon:hover {
    cursor: pointer;
    background-color: #f1f1f1;
}
.search-page .pin .pin-info .icon:active {
    transform: scale(0.82);
}
.search-page .pin img:hover {
    cursor: pointer;
    filter: brightness(80%);
}
.search-page .pin .save {
    padding: 13px 17px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    background-color: #e60023;
    color: #ffffff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    display: none;
}
.search-page .pin .save:hover {
    background-color:  #b8001c;
}
.search-page .pin .download {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    font-size: 32px;
    z-index: 2;
    display: none;
}
.search-page .pin .download:hover {
    background-color: #f0f0f0;
}
.search-page .pin .img-wrapper:hover .download, .search-page .pin .img-wrapper:hover .save {
    display: block;
}
.search-page .pin:has(.download:hover) img, .search-page .pin:has(.save:hover) img {
    filter: brightness(80%);
}
@media(min-width:800px){
    .search-page {
        width: calc(100% - 7%);
        margin-left: 7%;
        margin-top: 80px;
        padding: 10px 20px;
    }
    .search-page .pins {
        column-count: 4;
        column-gap: 15px;
    }
}