.settings {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 50px;
    background-color: white;
    padding: 10px;
    z-index: 1001;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    max-height: calc(100vh - 50px);
}
.settings .header img {
    width: 23px;
    height: 23px;
    object-fit: cover;
    padding: 5px;
    border-radius: 5px;
}
.settings .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.settings .header img:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.settings p {
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    color: #111;
}
.settings p:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.settings .small {
    font-size: 12px;
    color: #555;
    margin: 10px 0 5px;
}
.settings .small:hover {
    cursor: default;
    background-color: white;
}
.settings .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 150px;
}
.settings a {
    color: #314dd6;
    font-size: 14px;
    font-weight: 500;
    margin: 0 1px 10px 10px;
}
.settings a:hover {
    text-decoration: underline;
}
@media(min-width:800px){
    .settings {
        width: 390px;
        height: auto;
        top: 20%;
        left: 8%;
        bottom: 5%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        overflow-y: auto;
    }
}