.sidebar {
    width: 72px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid #e6e6e6;
    padding: 20px 0;
    z-index: 10;
}
.sidebar-mobile {
    display: none;
}
.sidebar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    z-index: 1001;
}
.sidebar .icon {
    font-size: 48px;
    cursor: pointer;
    color: #222;
    padding: 10px;
    border-radius: 10px;
}
.sidebar .icon:hover {
    background-color: #f5f5f5;
}
.sidebar .icon#pin {
    color: #E60023;
    font-size: 45px;
}
.sidebar .icon#settings {
    margin-top: 60px;
}
.sidebar .sidebar-item {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.sidebar p {
    color: #fff;
    background-color: #222;
    padding: 8px 10px;
    border-radius: 10px;
    font-size: 12px;
    display: none;
    position: fixed;
    left: 70px;
    white-space: nowrap;
    z-index: 13;
}
.sidebar p#settings {
    margin-top: 80px;
}
.sidebar .icon:hover + p {
    display: block;
    z-index: 999999 !important;
}
.sidebar .icon:active {
    background-color: #e8e8e8;
}
.sidebar .bounce {
    transition: transform 0.1s ease;
}
.sidebar .bounce:active {
    transform: scale(0.82);
}

body.search-dropdown-open .sidebar .icon#pin {
    filter: brightness(50%);
}
body.search-dropdown-open .sidebar {
    border-right: 1px solid #e6e6e6;
    filter: brightness(50%);
}

@media(max-width:400px){
    .sidebar {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 300;
    }
    .sidebar-container {
        display: none;
    }
    .sidebar-mobile {
        display: block;
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: white;
        z-index: 999999;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    }
}
@media(min-width:400px) and (max-width:800px) {
    .sidebar {
        width: 60px;
    }
    .sidebar-container {
        gap: 70px;
    }
    .sidebar .icon#settings {
        margin-top: 200px;
    }
}