.spinner-overlay {
  position: fixed;
  top: 80px;
  left: 76px;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #E60023;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media(max-width: 400px){
    .spinner-overlay {
        left: 0;
        top: 50px;
        bottom: 50px;
    }
    .spinner {
        width: 50px;
        height: 50px;
    }
}
@media(min-width: 400px) and (max-width: 800px){
    .spinner-overlay {
        left: 60px;
        top: 70px;
        width: calc(100% - 60px);
    }
}