.spinner-overlay {
    position: fixed;
    top: 70px;
    bottom: 50px;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #E60023;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media(min-width:800px){
    .spinner-overlay {
        width: calc(100% - 7%);
        top: 80px;
        bottom: 0;
        left: 7%;
    }
    .spinner {
        width: 100px;
        height: 100px;
    }
}